@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.quicksand-font {
  font-family: "Quicksand", serif;

  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

/* shared styles */
.hide-2 {
  display: none;
}
.flex {
  display: flex;
}
.btn {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  background-color: orange;
  padding: 12px 50px;
  border: none;
  border-radius: 12px;
}
/* Header related styles */
.mar {
  height: 50px;
  background-color: green;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.header-container {
  max-width: 1160px;
  margin: 40px auto;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  align-items: center;
  gap: 30px;
}
.logo-title {
  font-size: 2rem;
  font-weight: 700;
}
.nav-links {
  list-style: none;
  gap: 32px;
  font-size: 1.2rem;
  font-weight: 700;
}
.clr-1 {
  color: orange;
}
.clr-2,
.clr-3 {
  color: skyblue;
}
.clr-4 {
  color: #5d58ef;
}
.clr-5 {
  color: #8700ff;
}
/* Banner related styles */
.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.banner-title {
  font-size: 3.5rem;
  font-weight: 700;
}
.banner-description {
  font-size: 1.2rem;
  margin: 24px 0;
}
.btn-2 {
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  background-color: black;
  padding: 12px 50px;
  border: none;
  border-radius: 12px;
}
.banner-image img {
  width: 100%;
}
/* Curriculum related styles */
.curriculum {
  text-align: center;
  margin-bottom: 80px;
  background-image: url("../assets/bg.png");
}
.curriculum-container {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
}
.curriculum-title {
  margin-top: 60px;
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 2.9rem;
}
.curriculum-card-1 {
  box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.08);
  border-radius: 18px;
  padding: 30px 10px;
  background: linear-gradient(
    180deg,
    rgba(222, 245, 255, 1),
    rgba(7, 2, 17, 0) 40%
  );
}
.curriculum-card-2 {
  box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.08);
  border-radius: 18px;
  padding: 30px 10px;
  background: linear-gradient(
    180deg,
    rgba(255, 244, 220, 1),
    rgba(7, 2, 17, 0) 40%
  );
}
.curriculum-card-3 {
  box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.09);
  border-radius: 18px;
  padding: 30px 10px;
  background: linear-gradient(
    180deg,
    rgba(242, 232, 255, 1),
    rgba(7, 2, 17, 0) 40%
  );
}
.card-title {
  font-weight: 700;
  font-size: 1.5rem;
  color: #202020;
}
.card-description {
  font-weight: 600;
  color: #808080;
  font-size: 0.9rem;
  margin: 33px 0;
  line-height: 28px;
}
.read {
  font-weight: 700;
  font-size: 0.9rem;
}
/* Arrow styles */
.arrow {
  display: flex;
  width: 130px;
  margin: 0 auto;
  justify-content: center;
}
.one,
.two {
  background: orange;
  margin: 50px auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 2rem;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
/* Our story related styles */
.story {
  margin: 0px auto;

  background: linear-gradient(
      0deg,
      rgba(254, 163, 1, 0.3),
      rgba(255, 255, 255, 0.3) 100%
    ),
    url("../assets/bg.png");
}
.story-container {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  gap: 18px;
}
.story-card {
  border-radius: 16px;

  background: rgb(255, 255, 255);
}
.story-card-1 {
  border-radius: 16px;
  width: 540px;
  background: rgb(255, 255, 255);
}

.story-title {
  font-size: 2.9rem;
  font-weight: 700;
  text-align: center;
  margin: 50px;
  padding: 30px;
}
.story-card-title {
  font-weight: 700;
  font-size: 1.5rem;
  padding: 30px;
}
.story-card-title-2 {
  font-weight: 700;
  font-style: 0.8rem;
  padding: 20px;
  line-height: 28px;
  margin-top: -40px;
}

.story img {
  width: 100%;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}
.story-description {
  font-family: Raleway;
  line-height: 28.76px;
  font-weight: 500;
  font-size: 0.9rem;
  color: #666666;
  padding: 30px;
}

.story-grid {
  display: grid;
  width: 601px;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  border-radius: 16px;
}
.view-btn {
  margin: 50px 0;
  padding: 50px 0;
  text-align: center;
}
.btn-card1 {
  background-color: #3cd8e8;
  padding: 15px 20px;
  border: none;
  border-radius: 48px;
  color: white;
  position: relative;
}
.btns {
  background-color: #95b226;
}
.btnd {
  background-color: #5d58f0;
}
.card-button {
  margin-top: -30px;
  margin-left: 25px;
  margin-bottom: 35px;
}
/* Footer related styles */
footer {
  background-color: #01acfd;
  padding: 100px;
  margin-top: -50px;
  color: white;
}
.footer-container {
  max-width: 1070px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.footer-title {
  margin-left: 20px;
  color: white;
}
.footer-description {
  line-height: 1.5rem;
  font-size: 1.25rem;
}
.ddd {
  margin-bottom: 35px;
}
.footer-menu {
  margin-left: 80px;
}
.footer-menu ul li {
  list-style: none;
  margin-top: 30px;
}
.keepin {
  margin-bottom: 32px;
}
.keep img {
  margin-right: 10px;
}

/* Media Query styles */
@media only screen and (max-width: 576px) {
  .hide {
    display: none;
  }
  .menu {
    margin: 10px auto;
    padding: 0 20px;
  }
  .bar {
    display: block;
    font-size: 30px;
  }
  .dag {
    display: block;
  }
  hr {
    color: orange;
  }
  .banner-container {
    flex-direction: column;
    flex-direction: column-reverse;
    padding: 0 16px;
  }
  .banner-info {
    text-align: center;
  }
  .banner-title {
    font-size: 2rem;
    font-weight: 700;
    margin: 20px 0;
  }
  .curriculum-container {
    flex-direction: column;
  }
  .story-grid {
    padding: 0 10px;
  }
  .story-card-title-2 {
    font-size: 0.6rem;
    font-weight: 700;
    line-height: 17px;
  }
  .footer-container {
    grid-template-columns: repeat(1, 1fr);
    justify-content: left;
  }
  .footer-menu {
    margin-left: 0px;
  }
  footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}
